@import 'tailwindcss';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #efefef;
  --foreground: #171717;
  --neoris-blue: #13202a;
  --persian-pink: #F294CD;
  --sky-blue: #89D2E6;
  --slate-blue: #6564DB;
  --jonquil: #F6CF3C;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--neoris-blue);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
